.options{
    display:flex;
    gap:10px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 90vw;
    margin: auto;
    flex-wrap: wrap;
    /* background-color: rgb(230, 244, 248);
    border-radius: 100px;
    margin-top: 10px; */
}

.options>input, .options>select{
    padding: 10px;
    flex-grow: 1;
    text-align: center;
}

.options .material-icons{
    font-size: 30px;
}

.options > button{
    border: none;
    background: transparent;
    cursor: pointer;
}

.option-btn{
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
}

.option-btn:hover{
    background-color: #ededed;
}

.bottom-section{
    display: flex;
    gap: 20px;
    margin: 20px;
    align-items: center;
}

.bottom-section input{
    flex-grow: 1;
    padding: 10px;
}

#active-cell{
    background-color: #ededed;
    padding: 10px;
}

.hidden-input{
    width: 0px;
    height: 0px;
    border: none;
}

.hidden-input:checked + label{
    background-color: #ededed;
}